.button {
    background-color: #ffffff;
    font-family: "SF Pro";
    border-radius: 50px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    text-align: center;
    transition: 0.4s;
}

@supports (backdrop-filter: blur(30px)) {
    .button {
        background-color: #fdfcfc;
    }
}

.button:hover {
    border-color: #d6d6d6;
    transform: translate(0px, -1px);
}

.buttonText {
    font-size: 14px;
    color: #4d4d4d;
    font-weight: 400;
    margin: 12px 5px;
}
