.navbarUnorderedList {
    list-style: none;
    display: flex;
    margin: 40px 20px;
}

.navbarList {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.navbarText {
    color: #4d4d4d;
    font-weight: 400;
    margin: 0px 20px;
}
