.navbarUnorderedList {
    list-style: none;
    display: flex;
    margin: 50px 20px;
}

.navbarList {
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.navbarText {
    font-size: 15px;
    color: #4d4d4d;
    font-weight: 400;
    margin: 0px 25px;
}
