.titleLogo {
    width: 57px;
    height: 57px;
    align-self: center;
    margin-left: 15px;
    transition: 0.3s;
}

.titleLogo:hover {
    transform: scale(1.05);
}

.titleText {
    font-size: 45px;
    letter-spacing: -2px;
    color: #4d4d4d;
    font-weight: 600;
    margin: 0px 15px;
}

.vl {
    border-left: 0.5px solid #4d4d4d;
    margin-left: 20px;
    height: 1fr;
}
