/* Header Styles */
.headerText {
    letter-spacing: -1px;
    color: #4d4d4d;
    font-weight: 600;
}

/* Section Styles */
.sectionHeaderText {
    color: #4d4d4d;
    font-weight: 500;
}

.sectionText {
    color: #4d4d4d;
    font-weight: 100;
}
