/* Header Styles */
.header {
    display: flex;
    margin: 40px 75px;
}

.headerLeft {
    display: flex;
}

.headerButtons div {
    margin-left: 15px;
}

.headerButtons {
    align-self: center;
    margin-left: auto;
    display: flex;
}

.headerLogo {
    width: 57px;
    height: 57px;
    align-self: center;
    margin-left: 15px;
}

.headerText {
    font-size: 45px;
    letter-spacing: -2px;
    color: #4d4d4d;
    font-weight: 600;
    margin: 0px 15px;
}

/* Section Styles */
.sections {
    display: grid;
    grid-template-columns: 10fr 1fr 9fr;
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 60px;
    grid-row-gap: 70px;
}

.sectionHeader {
    display: flex;
}

.sectionHeaderText {
    margin-bottom: 0px;
    color: #4d4d4d;
    font-weight: 500;
}

.sectionText {
    color: #4d4d4d;
    font-weight: 100;
    font-size: 16px;
    line-height: 25px;
}

.sectionProgramming {
    grid-column: span 2;
}

.sectionSite {
    grid-column: span 2;
}

.icon1 {
    height: 31px;
    width: 31px;
    align-self: center;
    padding-top: 24px;
    margin-left: 10px;
}

.icon2 {
    height: 32px;
    width: 32px;
    align-self: center;
    padding-top: 24px;
    margin-left: 10px;
}

.icon3 {
    height: 25px;
    width: 25px;
    align-self: center;
    padding-top: 13px;
    margin-left: 10px;
}

/* Glass Box Styles */
.glassBox {
    background-color: rgba(243, 243, 243, 0.452);
    backdrop-filter: blur(40px);
    padding: 70px 50px;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    margin: 0px 70px;
}

/* Background Styles */
.background {
    width: 650px;
    height: 650px;
    position: fixed;
    z-index: -1;
    bottom: -250px;
    left: -90px;
}

/* Misc */
.vl {
    border-left: 0.5px solid #4d4d4d;
    margin-left: 20px;
    height: 1fr;
}
