/* Section Styles */
.headerButtons div {
    margin-left: 15px;
}

.headerButtons {
    align-self: center;
    margin-left: auto;
    display: flex;
}

.header {
    display: flex;
    margin: 40px 75px;
    margin-bottom: 50px;
}

.headerLeft {
    display: flex;
}

/* Project Styles */
.projects {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 80px;
    margin-right: 70px;
    margin-left: 70px;
}

.project {
    background-color: #ffffff;
    padding: 25px 40px;
    border-radius: 30px;
    border-style: solid;
    border-width: 1px;
    border-color: #e6e6e6;
    transition: 0.4s;
    display: flex;
    flex-direction: column;
}

@supports (backdrop-filter: blur(30px)) {
    .project {
        background-color: rgba(243, 243, 243, 0.452);
        backdrop-filter: blur(30px);
    }
}

.project:hover {
    border-color: #cacaca;
}

.projectText {
    display: flex;
    flex-direction: column;
}

.projectsHeader {
    color: #4d4d4d;
    font-weight: 500;
    font-size: 20px;
    margin-bottom: 5px;
}

.projectsInfo {
    color: #4d4d4d;
    font-weight: 300;
    font-size: 15px;
    margin-top: 0px;
    margin-bottom: 5px;
}

/* Background Styles */
.background {
    width: 700px;
    height: 700px;
    position: fixed;
    z-index: -1;
    bottom: -220px;
    right: -200px;
}

/* Icons */
.rayTracerIcon {
    margin: 0px auto;
    width: 70px;
    height: 70px;
}
